body{
    width: 300px;
    height: 300px;
    background-color: lightblue;
    display: flex;
    justify-content: center;
}
p{
    display: inline-flex;
    margin: auto 10px;
    font-size: 22px;
    color:rgb(136, 2, 2);
    border-radius: 5px;
    border: 2px  solid blueviolet;
    padding: 10px;
}